.popup__button {
  margin-top: 48px;
  width: 358px;
  height: 50px;
  border: 0;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.popup__button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 570px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
