.button_item_add {
  margin-top: 75px;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/Add_Button.svg);
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
  align-self: flex-start;
  opacity: 1;
  transition: opacity 0.7s;
}

.button_item_add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .button_item_add {
    margin: auto;
    width: 282px;
    background-size: 16px 16px;
  }
}
